<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.xinshu.xinxiaoshu">

    <uses-permission android:name="android.permission.ACCESS_SUPERUSER"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity
            android:name=".features.splash.SplashView"
            android:configChanges="layoutDirection|screenLayout"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".features.login.LoginActivity"
            android:configChanges="layoutDirection|screenLayout"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysVisible">
        </activity>


        <activity
            android:name=".features.upload.UploadActivity"
            android:configChanges="layoutDirection|screenLayout"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".features.reception.ReceptionActivity"
            android:configChanges="layoutDirection|screenLayout"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".features.history.HistoryActivity"
            android:configChanges="layoutDirection|screenLayout"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".features.extras.TutorialActivity"
            android:configChanges="layoutDirection|screenLayout"
            android:screenOrientation="portrait"/>

        <service
            android:name=".services.PTRService"
            android:exported="false"/>

        <service
            android:name=".services.PollingService"
            android:exported="false"/>
        />
    </application>

</manifest>